@import "reset";
@import "typography";
@import "variables";
@import "mixins";
@import "layout";

// 🌎 Stili globali aggiuntivi
body {
  font-family: 'Arial', sans-serif;
  color: $text-color;
  background-color: $background-color;
}

a {
  text-decoration: none;
  color: inherit;
}
