.video-card {
  width: 100%;
  max-width: 500px;
  margin: 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.video-card video {
  border-radius: 8px;
}

.video-card h3 {
  padding: 10px;
  background-color: #f4f4f4;
  margin: 0;
}
